@font-face {
  font-family: Segoe UI;
  src: url("../fonts/SegoeWP.ttf"); }

@font-face {
  font-family: Segoe UI Light;
  src: url("../fonts/SegoeWP-Light.ttf"); }

@font-face {
  font-family: Segoe UI Semibold;
  src: url("../fonts/SegoeWP-Semibold.ttf"); }

body {
  margin: 0;
  x-background-image: url(../images/grid-unit.png);
  background-color: #000;
  color: #fff;
  font-family: Segoe UI, Sans-Serif;
  -webkit-overflow-scrolling: auto; }

a {
  text-decoration: none;
  color: #fff; }

h1,
.xx-large {
  font-family: Segoe UI Light, Sans-Serif;
  font-size: 42pt;
  margin: -15px 3px 16px -3px;
  /* Use margin to fix baseline */
  line-height: 48pt; }

h2,
.x-large {
  font-family: Segoe UI Light, Sans-Serif;
  font-size: 20pt;
  margin: -7px 2px 7px -2px;
  /* Use margin to fix baseline */
  line-height: 24pt; }

h3,
.large {
  font-family: Segoe UI, Sans-Serif;
  font-size: 11pt;
  margin: 4px 0 -4px 0;
  /* Use margin-top to fix baseline */
  line-height: 15pt; }

p,
.medium {
  font-family: Segoe UI, Sans-Serif;
  font-size: 11pt;
  margin: 4px 2px -4px -2px;
  /* Use margin to fix baseline */
  line-height: 15pt; }

h4,
.small {
  font-family: Segoe UI, Sans-Serif;
  font-size: 9pt;
  font-weight: normal;
  margin: 5px 2px -5px -2px;
  /* Use margin to fix baseline */
  line-height: 15pt; }

#title {
  margin: 60px 0 0 100px; }

#projectsContainer {
  margin-left: 100px;
  margin-right: 100px; }

#pushMessagesContainer {
  margin: 20px 100px 0 100px; }
  #pushMessagesContainer .item {
    margin-right: 10px; }

.item {
  float: left;
  margin-bottom: 10px;
  width: 250px;
  /*default width; we try to make them 120 with JS*/
  min-height: 120px;
  overflow: hidden; }
  .item.event {
    background-color: #1b63e5; }
  .item.successful {
    background-color: #363;
    height: 120px; }
  .item.failing {
    background: #822; }
  .item .item-images {
    position: relative;
    margin-bottom: 10px; }
    .item .item-images.images-uneven-rows {
      /* Add extra margin bottom to negate the uneven rows slidly misaligning the blocks*/
      overflow: hidden;
      margin-bottom: 5px; }
    .item .item-images .full-size {
      display: block;
      width: 250px;
      height: 250px; }
    .item .item-images .half-size {
      display: block;
      float: left;
      width: 125px;
      height: 125px; }
  .item .item-text {
    position: relative;
    clear: left;
    display: block;
    padding: 7px 20px 10px 20px;
    box-sizing: border-box;
    height: 120px; }
    .item .item-text .logo,
    .item .item-text .pusher {
      max-width: 30px;
      max-height: 30px;
      position: absolute;
      bottom: 10px;
      left: 20px; }
    .item .item-text .statistics-container .statistic .value {
      font-size: 11pt;
      float: right; }
  .item .extra-text {
    position: relative;
    display: none;
    padding: 0;
    box-sizing: border-box; }
    .item .extra-text h3 {
      margin: 10px 0 0 20px;
      font-weight: normal; }
    .item .extra-text .chart {
      width: 250px;
      height: 85px; }

